.chanellist-bg{
    // background-color: whitesmoke;
    width: 100%;
    height: auto;
    .title-chanels{
        // background-color: blue;
        width: 90%;
        margin: auto;
        height: 25px;
        .title{
            // background-color: wheat;
            height: 100%;
            width: 80%;
            line-height: 1.5em;
            font-weight: bold;
            float: left;
            font-size: 1.2em;
            color: #95adbe;
            &.title:hover{
                color: white;
            }
        }
        .plus-icon{
            visibility: visible;
            color: #95adbe;
            float: right;
            margin-top: 7px; 
            &.open-list{
                visibility: hidden !important;
                float: none !important;
            }
        }
        .minus-icon{
            visibility: hidden;
            color: #95adbe;
            margin-top: 7px;
            &.open-list{
                visibility: visible !important;
                float: right !important;
            }
        }
    }
    .list-bg{
        // background-color: #95adbe;
        width: 90%;
        margin: auto;
        visibility: hidden;
        height: 0;
        &.open-list{
            visibility: visible !important;
            height: auto !important;
        }
        .list{
            li{
                list-style-type: none;
                list-style-position: inside;
                color: #95adbe;
                font-size: 1.2em;
            }
            .type-room-icon{
                float: left;
                margin-right: 5px;
            }
        }
    }
}
