.bg-nav {
    font-family: 'Varela Round', sans-serif;
  .nav-checkbox {
    display: none;
  }
  
  .nav-btn {
    background-color: #EB2188;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2;
    text-align: center;
    cursor: pointer;
  }
  
  .nav-bg {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    background-image: radial-gradient(#080A52, #EB2188);
    z-index: 1;
    
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    
  }
  
  .nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    z-index: 1;
    width: 100%;
  }
  
  .nav-item {
    margin: 10px;
  }
  
  .nav-link:link,
  .nav-link:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #EB2188 50%);
    padding: 1rem 2rem;
    background-size: 250%;
    transition: all .4s;
    border-radius: 50px;
  }
  
  .nav-link:active,
  .nav-link:hover {
    background-position: 100%;
    color: #080A52;
    transform: translateX(1rem);
  }
  
  .nav-checkbox:checked ~ .nav-bg {
    transform: scale(80);
  }
  
  .nav-checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
  }
  
  .nav-icon,
  .nav-icon::before, 
  .nav-icon::after {
    height: 3px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50px;
  }
  
  .nav-icon {
    width: 1.5rem;
    position: relative;
    margin-top: 2rem;
  }
  
  .nav-icon::before,
  .nav-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s
  }
  
  .nav-icon::before {
    top: -.4rem;
    width: 1rem;
  }
  
  .nav-icon::after {
    top: .4rem;
    width: 1.25rem;
  }
  
  .nav-btn:hover .nav-icon::before {
    top: -0.5rem;
  }
  
  .nav-btn:hover .nav-icon::after {
    top: 0.5rem;
  }
  
  .nav-checkbox:checked + .nav-btn .nav-icon {
    background-color: transparent;
  }
  
  .nav-checkbox:checked + .nav-btn .nav-icon::before {
    top: 0;
    transform: rotate(135deg);
    width: 1.5rem;
  }
  
  .nav-checkbox:checked + .nav-btn .nav-icon::after {
    top: 0;
    transform: rotate(-135deg);
    width: 1.5rem;
  }
}
  
  
  