.bg-search {
    width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid #95adbe;
    .box-search {
        width: 80%;
        height: 30px;
        border: none;
        background-color: #3F0E40;
        padding: 10px;
        color: #95adbe;
        &:focus {
            outline: none;
        }
    }
    .ic-search {
        width: 20%;
        height: 30px;
        border: none;
        background-color: #3F0E40;
        color: #95adbe;
        
        &:focus {
            outline: none;
        } 
    }
}