.bg-search {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    .search-box {
        background-color: #3F0E40;
        border: none;
        border-bottom: 1.5px solid #6c757d;
        color: #95adbe;
    }
    .ic-search {
        border: none;
        border-bottom: 1.2px solid #6c757d;
        // border-left: 1px solid #6c757d;
    }
}