.messengerlist-bg{
    // background-color: whitesmoke;
    width: 100%;
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;
    height: auto;
    margin-top: 40px;
    .addb {
        width: 100%;
        margin-left: 5px;
        padding: 20px;
        width: fit-content;
        line-height: 0.5em;
        text-align: left;
        font-size: 1em;
        color: #95adbe;
    }
    .title-chanels{
        // background-color: blue;
        width: 90%;
        margin: auto;
        height: 25px;
        color: #95adbe;
        .title{
            // background-color: wheat;
            height: 100%;
            width: 80%;
            line-height: 1.5em;
            font-weight: bold;
            float: left;
            font-size: 1.2em;
        }
        .fas {
            width: fit-content;
            float: right;
            margin: 7px;
        }
        .title:hover{
            color: white;
        }
    }
    .list{
        ul{
            // background-color: blue;
            list-style-type: none;
            list-style-position: inside;
            list-style-image: url(../../icon/circle.png);
            margin: 0;
            padding: 3px;
            color: #95adbe;
            
            li{
                // background-color: blue;
                height: 20%;
                width: 100%;
                line-height: 30px;
                padding-left: 20px; 
                font-size: 1.2em;
            }
            li:hover{
                background-color: #574f7d;
            }
        }
    }
}