.messengerlist-bg{
    // background-color: whitesmoke;
    width: 100%;
    margin-top: 40px;
    .title-chanels{
        // background-color: blue;
        width: 90%;
        margin: auto;
        height: 25px;
        // margin-top: 20px;
        .title{
            // background-color: wheat;
            height: 100%;
            width: 90%;
            float: left;
            line-height: 1.5em;
            font-weight: bold;
            text-align: left;
            font-size: 1.2em;
            color: #95adbe;
            cursor: default;
            &.title:hover{
                color: white;
            }
        }
        .icon{
            height: 100%;
            width: 10%;
            float: left;
            cursor: pointer;
            .plus-icon{
                font-size: 0;
                visibility: hidden;
                &:hover {
                    color: white;
                }
                &.open-list2{
                    visibility: visible !important;
                    color: #95adbe;
                    margin-top: 7px; 
                    font-size: 13px !important;
                }
            }
            .minus-icon{
                font-size: 13px;
                visibility: visible;
                color: #95adbe;
                &:hover {
                    color: white;
                }
                &.open-list2{
                    visibility: hidden !important;
                    font-size: 0 !important;
                    margin-top: 7px;
                }
            }
        }
    }
    .list-bg{
        position: unset;
        top: unset;
        left: unset;
        margin: auto;
        width: 100%;
        &.open-list2{
            position: absolute;
            top: -99999px;
            left: -999999px;
        }
        .list{
            list-style-type: none;
            list-style-position: inside;
            margin-top: 10px;
            li{
                text-transform: capitalize;
                color: #95adbe;
                font-size: 1.2em;
                width: 100%;
                padding-left: 20px;
                margin-top: 5px;
                &:hover {
                    background-color: #574f7d;
                }
            }
            .type-room-icon{
                float: left;
                margin-right: 5px;
                font-size: 13px;
                margin-top: 5px; 
            }
        }
    }
}
