.Chat {
    text-align: center;
    background: #7F7FD5;
      background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    height: 100vh;
    position: relative;
    padding: 50px;
    .Chat-Container {
      width: 80%;
      margin: auto;
      .chat-box {
        width: 100%;
        .receive-messages {
          width: 100%;
          textarea {
            width: 100%;
            height: 300px;
            max-height: 300px;
            min-height: 300px;
          }
        }
        .send-message {
          width: 100%;
          .send-message-field {
            width: 80%;
            float: left;          
          }
          .send-message-action {
            width: 20%;
            float: left;
          }
          button {
            width: 100%;
            height: 30px;
          }
          input {
            width: 100%;
            height: 30px;
            max-height: 30px;
            min-height: 30px;
            padding: 10px;
          }
        }
      }
    }
  }