.message-list-container {
    height: 300px;
    width: 100%;
    overflow-y: auto;
    position: relative;
    background: blanchedalmond;
    .message-list {
        position: relative;
        max-height: 300px;
    }
}

.typing{
    text-align: left;
    visibility: hidden;
    // display: none;
    &.show{
        visibility: visible;
        // display: block;
    }
    // &div{
    //     background: blanchedalmond;
    // }
}
