.room-bg{
    height: 600px;
    width: 25%;
    background-color:whitesmoke;
    // background-color: blueviolet;
    box-shadow: outset 0 0 4px rgba(0, 0, 0, 0.2);
    float: left;
    border-radius: 10px 0px 0px 10px;
    ul{
        list-style: none;
        .test-li{
            height: 40px;
            padding-left: 0px;
            width: 50%;
            .li-title{
                height: 40px;
                text-align: left;
                color: blueviolet;
                line-height: 40px;
                padding-left: 5px;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.2em;
                font-weight: bold;
                border:none;
                border-bottom: 0.5px solid sienna;
                background-color: whitesmoke;
            }
            
        }
        li{
            height: 40px;
            width: 90%;
            text-align: left;
            color: blueviolet;
            line-height: 40px;
            padding-left: 5px;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.2em;
            font-weight: bold;
            border:none;
            border-bottom: 0.5px solid sienna;
        }
        li:hover{
            background-color: rgb(170, 170, 253);
        }
        li:active{
            background-color: burlywood;
        }
    }
}

.test-li-bg:hover > .test-li {
    width: 100%;
}