* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    // background-color: #3498DB;
    // background-image: url(../../icon/12485.jpg);
    background-image: url("12485.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
}

.login-btn{
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    display: flex;
    height: 40px;
}

.login-form-a{
    color:white;
    font-size: 20px;
}

// .btn {
//     flex: 1 1 auto;
//     margin: 20px auto 0 auto;
//     padding: 30px;
//     text-align: center;
//     text-transform: uppercase;
//     transition: 0.5s;
//     background-size: 100% auto;
//     color: white;
//    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
//     box-shadow: 0 0 20px #eee;
//     border-radius: 15px;
//     justify-content: center;
//     align-content: center;
    
//    }

.btn{    
    // box-sizing: border-box;
    text-align: center;
    // background: url("12485.jpg");
    border-radius: 30px;
    background-size: 200%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    // text-transform: uppercase;
    margin: 20px auto 0 auto;
    height: 30px;
    width: 120px;
    color: white;   
    padding-top: 10px;
    box-shadow: 0 0 10px #eee;
    transition: 0.5s;
    &btn.hover{
        background-position: right center;
    }
    &.checked{
        margin-left:100px; 
    }
}

.btn-lg{
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%)
}

.fa-user-check{
    font-size: 0px;
    float: right;
    &.checked{
        font-size: 16px !important;
        color:#3088c2;
    }
}

.login-form-body{
    text-align: center;
    justify-content:center;
    align-items: center;
    display: block;
    margin:5px auto 0px auto;
    height: 110px;
    // height: 30%;
}

.icon-border{
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    display: flex;
    align-content: center;
    margin: 0px;
    padding: 0px;
}


#login-form {
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    height: 500px;
    // background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:  auto;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    background: rgba(255,255,255,.5);
    box-shadow: 0px, 5px, 15px, rgba(0,0,0,.5);
    
}

.login-form-control {
    // border-bottom: 2px solid black;
    // border-left: 2px solid black;
    border-radius: 10px;
    margin:10px auto 10px auto;
    // display: block;
    width: 85%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: none;
    // border-radius: 8px;
    justify-content: center;
}

// .login-form-button {
//     background-color: #3088c2;
//     color: #fff;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
    
//     &login-form-button:hover{
//         cursor: pointer;

//     }
// }

.login-form-link {
    font-size: 10px;
    // text-decoration: underline;
    color: #777777;
    &.login-form-link:hover{
        text-decoration: none;
        cursor: pointer;
    }
}


.icon-bg{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    // background-color: blue;
    width: 100%;
    height: auto;
    .icon-list{
        margin: 15px auto 25px auto;
        width: 200px;
        height: 50px;
        
        i{
            font-size: 50px;
            // height: 50px;
            // width: 50px;
            &.fa-facebook-square{
                margin-right: 4px;
                
                border-radius: 50%;
                color: #3088c2;
                margin-right: 25px;
                position: relative;
                &.fa-facebook-square:hover{
                    color: #000272;
                    cursor: pointer;
                }
            }
            &.fa-google-plus-square{
                margin: none;
                
                border-radius: 50%;
                color: #ff5858;
                &.fa-google-plus-square:hover{
                    color:#ff0000;
                    cursor: pointer;
                } 
            }
            &.fa-instagram{
                margin-left: 4px;
                
                border-radius: 50%;
                color: #f638dc;
                margin-left: 25px;
                &.fa-instagram:hover{
                    color: #b206b0;
                    cursor: pointer;}
            }
            &.icon-list:hover {
                opacity: 0.5;
            }
        }
    }
}

#login-form-emoji-zone {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    transition: all;
}


// #emoji{
//     position: relative;
//     width: 150px;
//     height: 150px;
//     left: 0;
//     right: 0;
//     margin: auto;
//     transition: .5s ease-in-out;
//     margin-top: 10px;
// }
