* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato';
}

.bg-lg {
    background-image: url("12485.jpg");
    height: 100vh;
    background-size: cover;
    .b1 {
      width: 40%;
      height: 100%;
      margin: auto;
      align-items: center;
      justify-content: center;
      background-color: #ecfcff;     
    }
      .login-form-link {
        font-size: 10px;
        // text-decoration: underline;
        color: black;
        margin-left: 250px;
        &.login-form-link:hover{
            text-decoration: none;
            cursor: pointer;
        }
      }


      .icon-bg{
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        // background-color: blue;
        width: 100%;
        height: auto;
        opacity: none ; 
        .icon-list{
            margin: 15px auto 0 auto;
            i{
                font-size: 50px;
                // height: 50px;
                // width: 50px;
                &.fa-facebook-square{
                    margin-right: 5px;
                    // background-color: whitesmoke;
                    border-radius: 50%;
                    color: #3088c2;
                    margin-right: 25px;
                    &.fa-facebook-square:hover{
                        color: black;
                        cursor: pointer;
                    }
                }
                &.fa-google-plus-square{
                    margin: none;
                    // background-color: whitesmoke;
                    border-radius: 5px;
                    color: #ff5858;
                    &.fa-google-plus-square:hover{
                        color:black;
                        cursor: pointer;
                    } 
                }
                &.fa-instagram{
                    margin-left: 5px;
                    // background-color: whitesmoke;
                    border-radius: 50%;
                    color: #f638dc;
                    margin-left: 25px;
                    &.fa-instagram:hover{
                        color: black;
                        cursor: pointer;}
                }
                &.icon-list:hover {
                    opacity: 0.5;
                }
            }
        }
      }
      .inp{
        margin-top: 100px;
      }
      .login-form-control {
        border: 0px;
        margin:10px auto 10px auto;
        display: block;
        align-items: center;
        height: 40px;
        width: 50%;
        font-size: 15px;
        text-align: center;
        background-color: #e5e5e5;
        border-radius: 8px;
        justify-content: center;
        // margin-top: 100px; 
        &:focus{
          outline: none;
        }
      }

      .login-form-button {
        background-color: #3088c2;
        width: 100px;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &login-form-button:hover{
            cursor: pointer;

        }
      }

      .login1{    
        text-align: center;
        background: blue;
        border-radius: 30px;
        width: 40%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 16px;
        margin: 15px auto 0 auto;
        height: 40px;
        color: white;   
        text-decoration: none;
        &.checked{
            margin-left:100px; 
        }
        // &.login1::hover{
        //   color: black;
        //   cursor: pointer;
        // }
      }
}
