* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    // background-color: #3498DB;
    // background-image: url(../../icon/12485.jpg);
    background-image: url("12485.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
}

.login-btn{    
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    background-color: #3088c2;
    border-radius: 8px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px auto 0 auto;
    height: 24px;
    &.checked{
        margin-left:100px; 
    }
}

.fa-user-check{
    font-size: 0px;
    float: right;
    &.checked{
        font-size: 16px !important;
        color: #3088c2;
    }
}

.icon-border{
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    display: flex;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

// .icon-face{
//     font-size: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     margin: 5px;
//     touch-action: manipulation;
//     box-sizing: initial;
//     &.icon-face:hover{
//         text-decoration: none;
//     }    
// }

// .icon-gg{
//     font-size: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     margin: 5px;
//     touch-action: manipulation;
//     box-sizing: initial;
//     &.icon-face:hover{
//         text-decoration: none;
//     }    
// }

// .icon-ins{
//     font-size: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     margin: 5px;
//     touch-action: manipulation;
//     box-sizing: initial;
//     &.icon-face:hover{
//         text-decoration: none;
//     }    
// }

#login-form {
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    padding: 25px;
}

.login-form-control {
    border: 0px;
    margin:10px auto 10px auto;
    display: block;
    width: 85%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ECF0F0;
    border-radius: 8px;
    justify-content: center;
}

.login-form-button {
    background-color: #3088c2;
    cursor: pointer;
    color: #fff;
}

.login-form-link {
    font-size: 10px;
    // text-decoration: underline;
    color: #777777;
    &.login-form-link:hover{
        text-decoration: none;
        cursor: pointer;
    }
}

// .icon {
   
//     font-size: 25px;
   
//     text-align: center;
//     text-decoration: none;
//     margin: 5px 2px;
//     border-radius: 50%;
// }
 
// .icon:hover {
//     opacity: 0.5;

.icon-bg{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    // background-color: blue;
    width: 100%;
    height: auto;
    .icon-list{
        margin: 15px auto 0 auto;
        i{
            font-size: 50px;
            // height: 50px;
            // width: 50px;
            &.fa-facebook{
                margin-right: 5px;
                background-color: whitesmoke;
                border-radius: 50%;
                color: #3088c2;
                margin-right: 25px;
                &.fa-facebook:hover{
                    background-color: blue;
                    cursor: pointer;
                }
            }
            &.fa-google-plus{
                margin: none;
                background-color: whitesmoke;
                border-radius: 50%;
                color: #ff5858;
                &.fa-google-plus:hover{
                    background-color:red;
                    cursor: pointer;
                } 
            }
            &.fa-instagram{
                margin-left: 5px;
                background-color: whitesmoke;
                border-radius: 50%;
                color: #f638dc;
                margin-left: 25px;
                &.fa-:hover{
                    background-color: violet;}
                    cursor: pointer;
            }
            &.icon-list:hover {
                opacity: 0.5;
            }
        }
    }
}

#login-form-emoji-zone {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

#emoji-head {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #3088c2;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto 3px auto;
    animation: breathing 2s ease infinite;
    transition: .5s ease;
}

@keyframes breathing {
    0% {
        margin-top: 0px;
        transform: scale(1);
    }
    50% {
        margin-top: 5px;
        transform: scale(1.01);
    }
    100% {
        margin-top: 0px;
        transform: scale(1);
    }
}

.emoji-eye {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #3088c2;
    position: absolute;
    transition: .1s ease;
}

.emoji-eye-closed {
    width: 50px;
    height: 2px;
    border: 2px solid #3088c2;
    border-radius: 0px;
    position: absolute;
}

.emoji-eye:nth-child(1) {
    top: 20px;
    left: 7px;
}

.emoji-eye-closed:nth-child(1) {
    top: 70px;
    left: 7px;
}

.emoji-eye:nth-child(2) {
    top: 20px;
    right: 7px;
}

.emoji-eye-closed:nth-child(2) {
    top: 70px;
    right: 7px;
}

.emoji-pupil {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color: #3088c2;
    border-radius: 50%;
    display: block;
    transition: .25s ease;
}

.emoji-pupil-closed {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-color: #3088c2;
    border-radius: 50%;
}

.emoji-pupil-whistle{
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 25px;
    left: 7px;
    background-color: #3088c2;
    border-radius: 50%;
    display: block;
}

.emoji-mouth {
    position: absolute;
    width: 100px;
    height: 50px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #3088c2 30%, #3088c2 100%);
    border: 2px solid #3088c2;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    animation: breathing 2s ease-in infinite;
    transition: .5s ease;
}

.emoji-mouth-whistle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 30%, #3088c2 30%, #3088c2 100%);
    border: 2px solid #3088c2;
    border-radius: 50%;
    left:20px;
    right: auto;
    bottom: 35px;
    animation: whistling  1s ease-in infinite;
}

@keyframes whistling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1,1);
    }
    100% {
        transform: scale(1);
    }
}

#emoji{
    position: relative;
    width: 150px;
    height: 150px;
    left: 0;
    right: 0;
    margin: auto;
    transition: .5s ease-in-out;
    margin-top: 10px;
}
