.send-message-bg{
    // background-color: blue;
    background-color: whitesmoke;
    width: 100%;
    height: 10%;
    padding-top: 1%;
    .boder-bg{
        background-color: white;
        width: 95%;
        height: 72%;
        margin: 0px auto 0px auto;
        border-radius: 8px;
        border: 1px solid black;
        .input-area{
            // background-color: blue;
            width: 100%;
            height: 80%;
            margin-top: 0.3%;
            margin-left: 0.3%;
            .send-enter-icon{
                background-color: blue;
                width: 32px;
                height: 32px;
                float: left;
            }
            input{
                // background-color: yellow;
                float: left;
                height: 100%;
                width: 80%;
                border: none;
                margin-block-start: 0px;
                margin-block-end: 0px;
                // margin-inline-start: 1em;
                // margin-inline-end: 1em;
            }
        }
        .emoji-btn-menu{
            background-color: blue;
            float: left;
            width: 42.5px;
            height: 42.5px;

        }
    }
}